@import "base/reset", "base/typography";

@import "partials/variables", "partials/mixins", "partials/layout";

@import "layout/footer", "layout/header";

@import "pages/list", "pages/recipes", "pages/author", "pages/account",
  "pages/meal-plan", "pages/coupons", "pages/login";

@import "components/ui-elements";

html,
body {
  height: 100%;
}

body {
  font-family: $font-primary-en;
  color: $dark-grey-color;
}
h1,
h2,
h3 {
  font-family: $font-primary-en;
}
.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.white-color-text {
  color: $white-color;
}
.black-color-text {
  color: $black-color;
}
.brand-color-text {
  color: $brand-color;
}
.bold-text {
  font-family: $font-secondary-en;
}
.regular-text {
  font-weight: normal;
}
.uppercase {
  text-transform: uppercase;
}
.grey-wrap {
  background: #f4f8f8;
}
.nomargin {
  @include margin(0, 0, 0, 0);
}
.nopadding {
  @include padding(0, 0, 0, 0);
}
.card {
  @include border-radius(0);
  border: 0;
}
.noscroll {
  overflow: hidden;
}
.only-mobile-view {
  display: none;
  @include breakpoint(sm) {
    display: block;
  }
}
.only-desktop-view {
  display: block;
  @include breakpoint(sm) {
    display: none;
  }
}
@include breakpoint(sm) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-wrap {
  @include padding(78px, 0, 100px, 0);
  min-height: 100%;
  @include breakpoint(sm) {
    @include padding(162px, 0, 100px, 0);
  }
}
.content-wrap {
  @include padding(40px, 0, 40px, 0);
  /*   @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  } */
}
.main-title-wrap {
  @include margin(0, 0, 20px, 0);
  @include flex-center-vert;
  justify-content: space-between;
  h4 {
    text-transform: uppercase;
    @include font-size(15px);
    font-weight: bold;
  }
}
.column-reverse {
  @include breakpoint(sm) {
    flex-direction: column-reverse;
  }
}
.row-reverse {
  @include breakpoint(sm) {
    flex-direction: row-reverse;
  }
}

.main-search-wrap {
  background: #f4f8f8;
  @include padding(40px, 0, 40px, 0);
  @include margin(-40px, 0, 30px, 0);
  position: relative;
  @include breakpoint(sm) {
    background: none;
    @include padding(0, 0, 20px, 0);
    @include margin(0, 0, 0, 0);
  }

  h2 {
    color: #018c8d;
    @include font-size(24px);
    text-align: center;
    font-weight: bold;
    @include margin(0, 0, 30px, 0);
    @include breakpoint(sm) {
      display: none;
    }
  }
  .input-wrap {
    border: 2px solid #018c8d;
    @include border-radius(10px);
    @include flex-center-vert;
    @include padding(0, 10px, 0, 10px);
    background: $white-color;
    width: 405px;
    margin: 0 auto;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint(sm) {
      border: 2px solid $light-grey-color;
      position: inherit;
      left: inherit;
      transform: translateX(0);
      width: 100%;
    }

    i {
      @include margin(0, 10px, 0, 0);
      &::before {
        color: #018c8d;
        @include font-size(16px);
      }
    }

    .form-control {
      background: none;
      height: 40px;
      @include font-size(16px);
      @include padding(0, 0, 0, 0);
      border: 0;
      @include input-placeholder {
        color: $dark-grey-color;
      }

      @include breakpoint(sm) {
        height: 45px;
      }

      &:focus {
        box-shadow: none;
        border: 0 !important;
        @include transform(translateY(0));
      }
    }
  }
}

.filter-content {
  h3 {
    @include margin(0, 0, 5px, 0);
    @include font-size(16px);
  }
  h4 {
    @include margin(0, 0, 5px, 0);
    @include font-size(16px);
    font-weight: bold;
  }
  p {
    @include font-size(14px);
    @include margin(0, 0, 15px, 0);
  }
  .meal-categ {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    @include margin(0, 0, 20px, 0);
    &__item {
      width: 40px;
      @include margin(0, 10px, 10px, 0);
      &:last-child {
        @include margin(0, 0, 10px, 0);
      }
    }
    &__link {
      @include border-radius(8px);
      border: 1px solid #eae4e4;
      width: 40px;
      height: 49px;
      @include flex-center;

      &:hover {
        background: #eae4e4;
      }
    }
  }
}

.search-input-wrap {
  border: 2px solid #018c8d;
  @include border-radius(10px);
  @include flex-center-vert;
  @include padding(0, 10px, 0, 10px);
  background: $white-color;
  @include breakpoint(sm) {
    border: 2px solid $light-grey-color;
    position: inherit;
    left: inherit;
    transform: translateX(0);
    width: 100%;
  }

  i {
    @include margin(0, 10px, 0, 0);
    &::before {
      color: #018c8d;
      @include font-size(16px);
    }
  }

  .form-control {
    @include font-size(16px);
    @include padding(0, 0, 0, 0);
    background: none;
    height: 40px;
    border: 0;
    @include input-placeholder {
      color: $dark-grey-color;
    }
    @include breakpoint(sm) {
      height: 45px;
    }
    &:focus {
      box-shadow: none;
    }
  }
}
.search-suggestions {
  @include padding(20px, 0, 0, 0);
  h3 {
    @include margin(0, 0, 15px, 0);
    @include font-size(16px);
    font-weight: bold;
  }
  ul {
    @include padding(0, 20px, 20px, 20px);
    li {
      @include margin(0, 0, 10px, 0);
      a {
        @include font-size(16px);
        span {
          color: $brand-color;
        }
      }
    }
  }
}

.datepicker {
  border: 0;
  z-index: 9999 !important;
  @include breakpoint(sm) {
    border: 1px solid $light-grey-color !important;
  }
}
.datepicker td,
.datepicker th {
  width: 35px;
  height: 35px;
}
.datepicker td:hover {
  @include border-radius(50%);
}

.datepicker td.active {
  background: $brand-color !important;
  @include border-radius(50%);
}

.datepicker-wrap {
  @include breakpoint(sm) {
    margin-bottom: 40px;
    margin-top: -30px;
    @include flex-center-horiz;
  }
  .datepicker-container {
    .datepicker-panel > ul > li {
      @include font-size(16px);
    }
  }
  [data-view*="week"] {
    li {
      @include font-size(16px);
      font-weight: bold !important;
    }
    @include breakpoint(sm) {
      display: none;
    }
  }
  ul[data-view*="days"] {
    @include breakpoint(sm) {
      display: none;
    }
  }
  [data-view*="month"] {
    font-size: 24px !important;
    font-weight: bold !important;
  }

  li.highlighted {
    background: $brand-second-color !important;
    @include border-radius(50%);
    color: $white-color !important;
  }
  li.picked {
    background: $brand-color !important;
    @include border-radius(50%);
    color: $white-color !important;
  }
  li:hover {
    background: $light-grey-color;
    /*  @include border-radius(50%); */
  }
}
