/* clearfix */
/* center block */
/* center vertically */
/* clearfix */
/* respo */
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #151331;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #151331;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@font-face {
  font-family: 'proxima_novaregular';
  src: url("../fonts/proxima_nova_font-webfont.woff2") format("woff2"), url("../fonts/proxima_nova_font-webfont.woff") format("woff"), url("../fonts/proxima_nova_font-webfont.ttf") format("truetype"), url("../fonts/proxima_nova_font-webfont.svg#proxima_novaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* clearfix */
/* center block */
/* center vertically */
/* clearfix */
/* respo */
footer {
  height: 100px;
  border-top: 1px solid #dedede;
  padding-top: 30px;
  padding-right: 0;
  padding-bottom: 30px;
  padding-left: 0;
  margin-top: -100px;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

footer .footer-links li {
  font-size: 14px;
  font-size: 0.875rem;
}

footer .footer-links li a {
  color: #018C8D;
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  display: block;
}

footer .footer-links li a:hover {
  color: #151331;
}

header nav.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #dedede;
  padding-top: 25px;
  padding-right: 0;
  padding-bottom: 25px;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    background: #f4f8f8;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
  }
}

header nav .header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .header-inner .hdr-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .header-inner .hdr-left {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

header nav .header-inner .hdr-left .user-icon {
  border-right: 1px solid #dedede;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .header-inner .hdr-left .user-icon {
    border: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

header nav .header-inner .hdr-left .user-icon img {
  width: 27px;
  height: 27px;
}

header nav .header-inner .hdr-left .logo {
  background: url("../images/logo.svg") no-repeat;
  width: 198px;
  height: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 198px 25px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

header nav .header-inner .hdr-left .cart-icon {
  display: none;
  /* Landscape phones and down */
}

header nav .header-inner .hdr-left .cart-icon img {
  width: 21px;
  height: 23px;
}

@media (max-width: 767px) {
  header nav .header-inner .hdr-left .cart-icon {
    display: block;
  }
}

header nav .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .navbar-nav li:last-child {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav li:last-child {
    display: none;
  }
}

header nav .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #000 !important;
  padding: 0 15px !important;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 16px;
  font-size: 1rem;
  white-space: nowrap;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 15px 20px !important;
  }
}

header nav .navbar-nav .nav-link::before {
  position: absolute;
  left: 0;
  bottom: -26px;
  width: 0;
  height: 3px;
  background: #34b78e;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  content: "";
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link::before {
    bottom: 0;
  }
}

header nav .navbar-nav .nav-link img {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: none;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link img {
    display: block;
  }
}

header nav .navbar-nav .nav-link:hover::before {
  width: 100%;
}

header nav .navbar-nav .nav-link.active::before {
  width: 100%;
}

.list-wrap .add-item-wrap h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.list-wrap .list-title-head {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: none;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .list-wrap .list-title-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.list-wrap .list-title-head h2 {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
}

.list-wrap .list-title-head .add-button {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.list-wrap .list-title-head .add-button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-wrap .list-title-head .add-button i::before {
  font-size: 30px;
  font-size: 1.875rem;
}

.list-wrap .list-group {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.list-wrap .list-group .item {
  border-bottom: 1px solid #dedede;
  background: #fff;
  color: #151331;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-wrap .list-group .item__check-icon {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid #dedede;
  width: 40px;
  height: 45px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-wrap .list-group .item__check-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-wrap .list-group .item__check-icon i::before {
  color: #dedede;
  font-size: 24px;
  font-size: 1.5rem;
}

.list-wrap .list-group .item__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.list-wrap .list-group .item__caption h4 {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .list-wrap .list-group .item__caption h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.list-wrap .list-group .item__caption h5 {
  font-size: 16px;
  font-size: 1rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .list-wrap .list-group .item__caption h5 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.list-wrap .list-group .item .coupon-icon {
  display: block;
  background: #fffbd8 0% 0% no-repeat padding-box;
  border: 1px dashed #a8a8a8;
  position: absolute;
  right: 10px;
  color: #151331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  /* Landscape phones and down */
}

.list-wrap .list-group .item .coupon-icon img {
  width: 13px;
}

@media (max-width: 767px) {
  .list-wrap .list-group .item .coupon-icon {
    right: 0;
  }
}

.list-wrap .list-group .item:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.list-wrap .list-group .item.selected .item__check-icon {
  border: 1px solid #dedede;
  background: #151331;
}

.recipes-row {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipes-row {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.recipe-detail-wrap {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap {
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.recipe-detail-wrap .right-content {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 40px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .right-content {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.recipe-detail-wrap .figure-holder {
  height: 400px;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 25px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .figure-holder {
    margin-top: 0;
    margin-right: -15px;
    margin-bottom: 15px;
    margin-left: -15px;
    width: calc(100% + 30px);
  }
}

.recipe-detail-wrap .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-detail-wrap .button-wrap {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .button-wrap {
    display: none;
  }
}

.recipe-detail-wrap .title-head {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.recipe-detail-wrap .title-head h3 {
  font-weight: bold;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  text-transform: uppercase;
}

.recipe-detail-wrap .title-head p {
  font-size: 15px;
  font-size: 0.9375rem;
}

.recipe-detail-wrap .caption-dtl {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .caption-dtl {
    background: #f4f8f8;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-right: -20px;
    margin-bottom: 0;
    margin-left: -20px;
  }
}

.recipe-detail-wrap .caption-dtl__link-a {
  color: #018C8D;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  font-size: 1.3125rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .caption-dtl__link-a {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

.recipe-detail-wrap .caption-dtl__desc {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 24px;
  font-size: 1.5rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .caption-dtl__desc {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.recipe-detail-wrap .caption-dtl__link-b {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: bold;
  color: #151331;
}

.recipe-detail-wrap .nav-tabs {
  display: none;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-detail-wrap .nav-tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.recipe-ingredients {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.recipe-ingredients .item-row {
  border-bottom: 1px solid #dedede;
  background: #fff;
  color: #151331;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.recipe-ingredients .item-row__cart-icon {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  border: 1px solid #dedede;
  width: 28px;
  height: 32px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-ingredients .item-row__cart-icon {
    width: 40px;
    height: 45px;
  }
}

.recipe-ingredients .item-row__cart-icon img {
  width: 55%;
}

.recipe-ingredients .item-row__figure-holder {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  width: 32px;
  height: 32px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-ingredients .item-row__figure-holder {
    width: 45px;
    height: 45px;
  }
}

.recipe-ingredients .item-row__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.recipe-ingredients .item-row__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.recipe-ingredients .item-row__caption h4 {
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-ingredients .item-row__caption h4 {
    font-size: 20px;
    font-size: 1.25rem;
  }
}

.recipe-ingredients .item-row__caption h5 {
  font-size: 16px;
  font-size: 1rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipe-ingredients .item-row__caption h5 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.recipe-ingredients .item-row .coupon-icon {
  display: block;
  background: #ffdf00;
  border: 1px dashed #707070;
  width: 34px;
  height: 34px;
  position: absolute;
  right: 20px;
  color: #151331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* Landscape phones and down */
}

.recipe-ingredients .item-row .coupon-icon img {
  width: 40%;
}

@media (max-width: 767px) {
  .recipe-ingredients .item-row .coupon-icon {
    right: 0;
  }
}

.recipe-ingredients .item-row:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.recipe-ingredients .item-row.selected .item-row__cart-icon {
  border: 1px solid #dedede;
  background: #151331;
}

.recipes-search {
  background: #f4f8f8;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipes-search {
    background: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.recipes-search .text-wrap {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipes-search .text-wrap {
    display: none;
  }
}

.recipes-search .text-wrap p {
  font-size: 16px;
  font-size: 1rem;
}

.recipes-search .input-wrap {
  border: 2px solid #018c8d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background: #fff;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .recipes-search .input-wrap {
    border: 2px solid #dedede;
    position: inherit;
    left: inherit;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

.recipes-search .input-wrap i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.recipes-search .input-wrap i::before {
  color: #018c8d;
  font-size: 16px;
  font-size: 1rem;
}

.recipes-search .input-wrap .form-control {
  background: none;
  height: 40px;
  font-size: 16px;
  font-size: 1rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  /* Landscape phones and down */
}

.recipes-search .input-wrap .form-control.placeholder {
  color: #151331;
}

.recipes-search .input-wrap .form-control:-moz-placeholder {
  color: #151331;
}

.recipes-search .input-wrap .form-control::-moz-placeholder {
  color: #151331;
}

.recipes-search .input-wrap .form-control:-ms-input-placeholder {
  color: #151331;
}

.recipes-search .input-wrap .form-control::-webkit-input-placeholder {
  color: #151331;
}

@media (max-width: 767px) {
  .recipes-search .input-wrap .form-control {
    height: 45px;
  }
}

.recipes-search .input-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.search-recipes-wrap {
  background: #f4f8f8;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .search-recipes-wrap .body-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    height: 60vh;
  }
  .search-recipes-wrap .search-input-wrap {
    border: 2px solid #018C8D;
  }
}

.search-recipes-wrap h1 {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.search-recipes-wrap .footer-content {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .search-recipes-wrap .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
}

.search-recipes-wrap .footer-content h2 {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.search-recipes-wrap .footer-content p {
  font-size: 18px;
  font-size: 1.125rem;
}

.search-recipes-wrap .footer-content p a:hover {
  color: #018C8D;
}

.author-detail-wrap {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap {
    margin-top: -40px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.author-detail-wrap .figure-holder {
  height: 400px;
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.author-detail-wrap .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.author-detail-wrap .caption-dtl {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl {
    background: #f4f8f8;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 0;
    margin-right: -20px;
    margin-bottom: 10px;
    margin-left: -20px;
  }
}

.author-detail-wrap .caption-dtl .user-thumb {
  width: 107px;
  height: 107px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl .user-thumb {
    display: none;
  }
}

.author-detail-wrap .caption-dtl .user-thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.author-detail-wrap .caption-dtl__link-a {
  color: #018C8D;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 21px;
  font-size: 1.3125rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl__link-a {
    font-size: 17px;
    font-size: 1.0625rem;
  }
}

.author-detail-wrap .caption-dtl__name {
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl__name {
    font-size: 28px;
    font-size: 1.75rem;
  }
}

.author-detail-wrap .caption-dtl__desc {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl__desc {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.author-detail-wrap .caption-dtl__bio {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .author-detail-wrap .caption-dtl__bio {
    display: none;
  }
}

.author-detail-wrap .caption-dtl .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.author-detail-wrap .caption-dtl .social-icon__item {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.author-detail-wrap .caption-dtl .social-icon__link {
  width: 40px;
  height: 45px;
  border: 2px solid #eae4e4;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.author-detail-wrap .caption-dtl .social-icon__link i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.author-detail-wrap .caption-dtl .social-icon__link i::before {
  color: #018C8D;
  font-size: 18px;
  font-size: 1.125rem;
}

.author-detail-wrap .caption-dtl .social-icon__link:hover {
  background: #151331;
  border: 2px solid #151331;
}

.author-detail-wrap .caption-dtl .social-icon__link:hover i::before {
  color: #fff;
}

.account-wrap .title-head {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

.account-wrap .title-head h2 {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

.account-wrap .title-head p {
  font-size: 16px;
  font-size: 1rem;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-nav__link {
  border-bottom: 1px solid #dedede;
  font-weight: bold;
  color: #151331;
  position: relative;
  display: block;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;
  font-size: 20px;
  font-size: 1.25rem;
}

.mobile-nav__link::before {
  position: absolute;
  content: "\f285";
  right: 10px;
  top: 5px;
  font-family: "bootstrap-icons";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 18px;
  font-size: 1.125rem;
}

.mobile-nav__link:hover {
  background: #f4f8f8;
  color: #018C8D;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 10px;
}

.mobile-nav__link:hover::before {
  right: 0;
}

.mobile-user-wrap {
  padding-top: 30px !important;
  padding-right: 0;
  padding-bottom: 30px !important;
  padding-left: 0;
}

.mobile-user-wrap__content {
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-user-wrap header .title-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mobile-user-wrap header .title-wrap .back-btn {
  display: block;
  color: #151331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 15px;
  top: 0;
}

.mobile-user-wrap header .title-wrap .back-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-user-wrap header .title-wrap .back-btn i::before {
  font-size: 30px;
  font-size: 1.875rem;
}

.mobile-user-wrap header .title-wrap h1 {
  text-align: center;
  font-size: 25px;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: auto;
}

.mobile-user-wrap header .logo {
  background: url("../images/logo.svg") no-repeat;
  width: 198px;
  height: 25px;
  display: block;
  background-size: 198px 25px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin: 0 auto 30px;
}

.mobile-user-wrap .description {
  font-size: 22px;
  font-size: 1.375rem;
}

.mobile-user-wrap .button-outline {
  margin-top: auto;
}

.action-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top: 1px solid #dee2e6;
}

.action-bar > * {
  margin: 0.25rem;
}

.stores-list {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.stores-list .item {
  border-bottom: 1px solid #dedede;
  background: #fff;
  color: #151331;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.stores-list .item__figure-holder {
  width: 70px;
  height: 32px;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .stores-list .item__figure-holder {
    display: none;
  }
}

.stores-list .item__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stores-list .item__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 30px;
  width: 75%;
}

.stores-list .item__caption .store-name {
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .stores-list .item__caption .store-name {
    font-size: 22px;
    font-size: 1.375rem;
  }
}

.stores-list .item__caption .store-address {
  font-size: 14px;
  font-size: 0.875rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .stores-list .item__caption .store-address {
    font-size: 18px;
    font-size: 1.125rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.stores-list .item:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.meal-plan-wrap .list-title-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  position: relative;
}

.meal-plan-wrap .list-title-head .add-button {
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .meal-plan-wrap .list-title-head .add-button {
    position: absolute;
    top: 0;
  }
}

.meal-plan-wrap .list-title-head .add-button i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-plan-wrap .list-title-head .add-button i::before {
  font-size: 30px;
  font-size: 1.875rem;
}

.meal-plan-wrap .plan-list {
  border-top: 1px solid #dedede;
}

.meal-plan-wrap .plan-list .item {
  border-bottom: 1px solid #dedede;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-plan-wrap .plan-list .item__date {
  font-weight: bold;
  height: 76px;
  color: #9b9a9a;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.meal-plan-wrap .plan-list .item__caption {
  background: #f4f4f471;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.meal-plan-wrap .plan-list .item__caption .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.meal-plan-wrap .plan-list .item__caption .left .plan-name {
  font-weight: bold;
  font-style: italic;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 5px;
  padding-left: 0;
  font-size: 18px;
  font-size: 1.125rem;
}

.meal-plan-wrap .plan-list .item__caption .left .plan-name:hover {
  color: #018C8D;
}

.meal-plan-wrap .plan-list .item__caption .left .plan-desc {
  font-size: 14px;
  font-size: 0.875rem;
}

.meal-plan-wrap .plan-list .item__caption .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-plan-wrap .plan-list .item__caption .right .attach-btn {
  width: 40px;
  height: 49px;
  background: #151331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.meal-plan-wrap .plan-list .item__caption .right .attach-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-plan-wrap .plan-list .item__caption .right .attach-btn i::before {
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
}

.meal-plan-wrap .plan-list .item__caption .right .selected-meal-type {
  width: 40px;
  height: 49px;
  background: #fdecea;
  border: 2px solid #eae4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  margin-top: 0;
  margin-right: 5px;
  margin-bottom: 0;
  margin-left: 0;
}

.meal-plan-wrap .plan-list .item__caption .right .selected-meal-type img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-plan-wrap .plan-list .item__caption .right .plus-btn:hover {
  background: #151331;
  border: 2px solid #151331;
}

.meal-plan-wrap .plan-list .item__caption .right .plus-btn:hover i::before {
  color: #fff;
}

.meal-detail-content .datepicker-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.meal-detail-content .datepicker-row .calendar-icon {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.meal-detail-content .datepicker-row .calendar-icon i::before {
  font-size: 16px;
  font-size: 1rem;
}

.meal-detail-content .datepicker-row .input-container {
  width: 80%;
}

.meal-detail-content .datepicker-row .input-field {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.meal-detail-content .datepicker-row .refresh-icon i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.meal-detail-content .datepicker-row .refresh-icon i::before {
  font-size: 22px;
  font-size: 1.375rem;
}

.meal-detail-content .form-control {
  height: 102px !important;
}

.meal-detail-content h4 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}

.meal-detail-content .attached-recipes .selected-recipes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal-detail-content .attached-recipes .selected-recipes .cross-btn {
  background: #f4f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  width: 40px;
  height: 49px;
}

.meal-detail-content .attached-recipes .selected-recipes .cross-btn i::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #34b78e;
  font-size: 30px;
  font-size: 1.875rem;
}

.meal-detail-content .attached-recipes .selected-recipes .cross-btn:hover {
  background: #34b78e;
}

.meal-detail-content .attached-recipes .selected-recipes .cross-btn:hover i::before {
  color: #fff;
}

.meal-detail-content .attached-recipes .selected-recipes p {
  font-size: 16px;
  font-size: 1rem;
}

.meal-detail-content .attached-recipes .select-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.meal-detail-content .attached-recipes .select-recipe .grey-border-icon-wrap {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.meal-detail-content .attached-recipes .select-recipe p {
  font-size: 16px;
  font-size: 1rem;
}

.meal-detail-content .meal-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*  justify-content: center; */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.meal-detail-content .meal-type__item {
  width: 40px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

.meal-detail-content .meal-type__item:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.meal-detail-content .meal-type__link {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #eae4e4;
  width: 40px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.meal-detail-content .meal-type__link:hover {
  background: #eae4e4;
}

.meal-detail-content .meal-type--selected {
  background: #fdecea;
}

.select-recipes-content .item {
  border-bottom: 1px solid #dedede;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.select-recipes-content .item__figure-holder {
  width: 84px;
  height: 84px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.select-recipes-content .item__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.select-recipes-content .item__caption-dtl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 0;
  padding-right: 55px;
  padding-bottom: 0;
  padding-left: 0;
}

.select-recipes-content .item__caption-dtl .recipe-name {
  font-size: 16px;
  font-size: 1rem;
}

.select-recipes-content .item__caption-dtl .author-name {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  color: #018C8D;
}

.select-recipes-content .item .attach-btn {
  width: 40px;
  height: 45px;
  border: 2px solid #eae4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.select-recipes-content .item .attach-btn i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select-recipes-content .item .attach-btn i::before {
  color: #a8a8a8;
  font-size: 26px;
  font-size: 1.625rem;
}

.select-recipes-content .item .attach-btn:hover {
  background: #151331;
  border: 2px solid #151331;
}

.select-recipes-content .item .attach-btn:hover i::before {
  color: #fff;
}

.select-recipes-content .item:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.input-container input {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  padding: 0.75rem;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.coupon-card {
  border: 1px dashed #151331;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.coupon-card .figure-holder {
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
}

.coupon-card .figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.coupon-card .caption-dtl {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.coupon-card .caption-dtl h5 {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.coupon-card .caption-dtl h2 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-weight: bold;
}

.coupon-card .caption-dtl .discunt-text small {
  font-size: 12px;
  font-size: 0.75rem;
}

.coupon-card .caption-dtl .discunt-text span {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.coupon-card .caption-dtl .discunt-text .old {
  text-decoration: line-through;
}

.coupon-card .caption-dtl .expire-text {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: inline-block;
}

.coupon-card .caption-dtl .text {
  text-transform: uppercase;
}

.coupon-card .arrow-button {
  position: absolute;
  right: 10px;
  top: 15px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.coupon-card .arrow-button i::before {
  color: #151331;
  font-size: 20px;
  font-size: 1.25rem;
}

.coupon-card:hover {
  background: #f4f8f8;
}

.coupon-card:hover .arrow-button {
  right: 5px;
}

.coupons-row {
  display: -ms-grid;
  display: grid;
  grid-column-gap: 10px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .coupons-row {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.coupons-row .item {
  border: 1px dashed #dedede;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.coupons-row .item__figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  height: 150px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.coupons-row .item__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.coupons-row .item__price-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.coupons-row .item__price-text {
  width: 55%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .coupons-row .item__price-text {
    width: 100%;
    text-align: center;
  }
}

.coupons-row .item__price-text span {
  font-weight: bold;
  display: block;
  font-size: 16px;
  font-size: 1rem;
}

.coupons-row .item__price-text span small {
  font-size: 12px;
  font-size: 0.75rem;
}

.coupons-row .item__store-thumb {
  width: 40%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .coupons-row .item__store-thumb {
    width: 100%;
    height: 50px;
  }
}

.coupons-row .item__store-thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .coupons-row .item__store-thumb img {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}

.coupons-row .item .validity-text {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  text-align: center;
}

.coupons-row .item:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.coupon-detail-content {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 2px dashed #dedede;
}

.coupon-detail-content__figure-holder {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.coupon-detail-content__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.coupon-detail-content__caption-dtl h3 {
  font-size: 18px;
  font-size: 1.125rem;
}

.coupon-detail-content__caption-dtl h2 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.coupon-detail-content__caption-dtl .price-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.coupon-detail-content__caption-dtl .price-text span {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.coupon-detail-content__caption-dtl .price-text span small {
  font-size: 14px;
  font-size: 0.875rem;
}

.coupon-badge {
  padding-top: 8px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-left: 25px;
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  text-transform: uppercase;
  color: #151331;
  font-weight: bold;
}

.coupon-badge i::before {
  font-size: 18px;
  font-size: 1.125rem;
}

.coupon-badge-lg {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-size: 24px;
  font-size: 1.5rem;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
}

.coupon-badge-lg i::before {
  font-size: 18px;
  font-size: 1.125rem;
}

.coupon-save-badge {
  background: #ffdf00;
}

.coupon-saved-badge {
  border: 1px dashed #151331;
  background: #fffbd8;
}

.login-wrap {
  background: #f4f8f8;
  height: 100vh;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .login-wrap {
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.login-wrap__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.login-wrap__content .login-logo {
  background: url("../images/logo.svg") no-repeat;
  width: 198px;
  height: 25px;
  display: block;
  background-size: 198px 25px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.login-wrap__content h2 {
  font-weight: bold;
  text-align: center;
  font-size: 32px;
  font-size: 2rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.switch-container {
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch-container .switch {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: 0;
  position: relative;
  width: 39px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #fff;
  border: 1px solid #dddddd;
}

.switch-container .switch:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 2px;
  left: 2px;
  background: #dedede;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}

.switch-container .switch:checked {
  background: #34B78E;
}

.switch-container .switch:disabled {
  opacity: 0.5;
}

.switch-container .switch:checked:after {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
  background: #fff;
}

.switch-container label {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 14px;
  font-size: 0.875rem;
}

.button-sm {
  padding: 5px 15px !important;
  font-size: 12px !important;
  font-weight: bold;
}

.button-md {
  padding: 8px 15px !important;
}

.button-lg {
  padding: 15px 15px;
  font-weight: bold;
}

/* Button outline */
.button-outline {
  padding: 8px 50px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

.button-outline:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.button-outline:after {
  z-index: -1;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.button-outline:hover {
  color: #fff;
}

.button-outline:hover:after {
  height: 100%;
}

.button-outline-primary {
  border: 2px solid #34B78E;
  color: #018C8D;
}

.button-outline-primary:after {
  background: #34B78E;
}

.button-outline-grey {
  border: 2px solid #d5dee3;
  color: #018C8D;
}

.button-outline-grey:after {
  background: #d5dee3;
}

.button-outline-grey:hover {
  color: #018C8D;
}

.button-outline-dark {
  border: 2px solid #151331;
  color: #151331;
}

.button-outline-dark:after {
  background: #151331;
}

/* Button fill */
.button-fill {
  padding: 8px 50px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  font-size: 18px;
  font-size: 1.125rem;
}

.button-fill:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.button-fill:after {
  z-index: -1;
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}

.button-fill:hover {
  color: #018C8D;
}

.button-fill:hover:after {
  height: 100%;
}

.button-fill-primary {
  background: #edfff9;
  border: 2px solid #edfff9;
  color: #018C8D;
}

.button-fill-primary:after {
  background: #fff;
}

.button-fill-primary:hover {
  color: #018C8D;
}

.button-fill-dark {
  background: #018C8D;
  border: 2px solid #018C8D;
}

.button-fill-dark:after {
  background: #fff;
}

.button-fill-grey {
  background: #d5dee3;
  border: 2px solid #d5dee3;
}

.button-fill-grey:after {
  background: #fff;
}

.bouncein:hover:before,
.bouncein:hover:after {
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}

.input-wrap label {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-weight: bold;
}

.input-wrap .form-control {
  color: #868d96;
  height: 38px;
  color: #151331;
  background: #fff;
  border: 2px solid #f4f4f4;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  font-size: 16px;
  font-size: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .input-wrap .form-control {
    height: 54px;
  }
}

.input-wrap .form-control.placeholder {
  color: #dedede;
}

.input-wrap .form-control:-moz-placeholder {
  color: #dedede;
}

.input-wrap .form-control::-moz-placeholder {
  color: #dedede;
}

.input-wrap .form-control:-ms-input-placeholder {
  color: #dedede;
}

.input-wrap .form-control::-webkit-input-placeholder {
  color: #dedede;
}

.input-wrap .form-control:focus {
  border: 2px solid #018C8D;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.input-wrap .form-textarea {
  height: 86px !important;
  resize: none;
}

.custom-card {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom: 1px solid #dedede;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.custom-card__figure-holder {
  height: 168px;
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-card__figure-holder {
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 0;
    height: 118px;
    width: 100px;
  }
}

.custom-card__figure-holder img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.custom-card--h-250 {
  height: 250px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-card--h-250 {
    height: 118px;
  }
}

.custom-card__caption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.custom-card__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-card__title {
    font-size: 20px;
    font-size: 1.25rem;
    -webkit-line-clamp: 2;
  }
}

.custom-card__ {
  color: #018C8D;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  display: inline-block;
  font-weight: bold;
}

.custom-card__desc {
  font-size: 12px;
  font-size: 0.75rem;
}

.custom-card:hover {
  -webkit-box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.nav-tabs {
  border-bottom: 1px solid #dedede;
  /* Landscape phones and down */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

@media (max-width: 767px) {
  .nav-tabs {
    border: 0;
  }
}

.nav-tabs .nav-item {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .nav-tabs .nav-item {
    width: 50%;
  }
}

.nav-tabs .nav-link {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #151331;
  text-transform: uppercase;
  position: relative;
  border: 0;
  width: 100%;
  font-weight: bold;
}

.nav-tabs .nav-link::before {
  position: absolute;
  content: "";
  background: #34B78E;
  bottom: 0;
  width: 0;
  left: 0;
  height: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav-tabs .nav-link:hover::before {
  width: 100%;
}

.nav-tabs .nav-link.active::before {
  width: 100%;
}

.custom-modal .modal-dialog {
  width: 428px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-modal .modal-dialog {
    width: 100%;
    margin: 50px 0 0 0;
  }
}

.custom-modal .modal-content {
  background: #fff;
  border: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .custom-modal .modal-content {
    min-height: 100vh;
  }
}

.custom-modal .modal-header {
  border-bottom: 0;
  display: inline;
}

.custom-modal .modal-header h5 {
  font-weight: bold;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
}

.custom-modal .modal-header .btn-close {
  background: none;
  position: absolute;
  left: 20px;
  opacity: 10;
  top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.custom-modal .modal-header .btn-close i::before {
  color: #151331;
  font-size: 40px;
  font-size: 2.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.custom-modal .modal-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-modal .modal-header .btn-close:hover i::before {
  color: #018C8D;
  font-size: 30px;
  font-size: 1.875rem;
}

.custom-modal .modal-body {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.custom-modal .modal-footer {
  border-top: 0;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* custom checkboxes and radio */
.radios,
.checkboxes {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 24px;
  /* input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  } */
}

.radios label,
.checkboxes label {
  cursor: pointer;
  line-height: 1rem;
}

.radios input[type="checkbox"],
.radios input[type="radio"],
.checkboxes input[type="checkbox"],
.checkboxes input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radios input[type="checkbox"] + label,
.radios input[type="radio"] + label,
.checkboxes input[type="checkbox"] + label,
.checkboxes input[type="radio"] + label {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: bold;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 35px;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radios input[type="checkbox"] + label:before,
.radios input[type="radio"] + label:before,
.checkboxes input[type="checkbox"] + label:before,
.checkboxes input[type="radio"] + label:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #151331;
  background: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="checkbox"] + label:after,
.radios input[type="radio"] + label:after,
.checkboxes input[type="checkbox"] + label:after,
.checkboxes input[type="radio"] + label:after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  transition: transform 200ms ease-out;
  transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
}

.radios input[type="checkbox"] + label:before, .radios input[type="checkbox"] + label:after,
.checkboxes input[type="checkbox"] + label:before,
.checkboxes input[type="checkbox"] + label:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="checkbox"] + label:after,
.checkboxes input[type="checkbox"] + label:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
}

.radios input[type="checkbox"]:checked + label:before,
.checkboxes input[type="checkbox"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
  border: 2px solid #018C8D;
}

.radios input[type="checkbox"]:checked + label:after,
.checkboxes input[type="checkbox"]:checked + label:after {
  background: #018C8D;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.radios input[type="radio"] + label:before, .radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:before,
.checkboxes input[type="radio"] + label:after {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.radios input[type="radio"] + label:after,
.checkboxes input[type="radio"] + label:after {
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
}

.radios input[type="radio"]:checked + label:before,
.checkboxes input[type="radio"]:checked + label:before {
  -webkit-animation: borderscale 300ms ease-in;
          animation: borderscale 300ms ease-in;
  border: 2px solid #018C8D;
}

.radios input[type="radio"]:checked + label:after,
.checkboxes input[type="radio"]:checked + label:after {
  background: #018C8D;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.red-alert {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background: #FFF0EE;
}

.red-alert p {
  color: #F0306E;
  font-size: 20px;
  font-size: 1.25rem;
}

.red-alert p a {
  font-weight: bold;
  color: #F0306E;
}

.saving-alert {
  background: #fffef4;
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.saving-alert .icon {
  display: block;
  background: #ffdf00;
  border: 1px dashed #707070;
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* Landscape phones and down */
}

.saving-alert .icon img {
  width: 40%;
}

@media (max-width: 767px) {
  .saving-alert .icon {
    width: 56px;
    height: 56px;
  }
}

.saving-alert figcaption {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.saving-alert figcaption h3 {
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .saving-alert figcaption h3 {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.saving-alert figcaption p {
  font-size: 14px;
  font-size: 0.875rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .saving-alert figcaption p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: bold;
  }
}

.yellow-badge {
  background: #ffdf00;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
  font-weight: bold;
}

.icon-wrap {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
}

.icon-wrap:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  background: #f4f8f8;
}

.icon-wrap:hover i::before {
  color: #018C8D;
}

.grey-border-icon-wrap {
  width: 40px;
  height: 45px;
  border: 2px solid #eae4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  /* &:hover {
    background: $dark-grey-color;
    border: 2px solid $dark-grey-color;
    i {
      &::before {
        color: $white-color;
      }
    }
  } */
}

.grey-border-icon-wrap i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grey-border-icon-wrap i::before {
  color: #a8a8a8;
  font-size: 26px;
  font-size: 1.625rem;
}

html,
body {
  height: 100%;
}

body {
  font-family: "proxima_novaregular";
  color: #151331;
}

h1,
h2,
h3 {
  font-family: "proxima_novaregular";
}

.wow {
  visibility: hidden;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.white-color-text {
  color: #fff;
}

.black-color-text {
  color: #000;
}

.brand-color-text {
  color: #018C8D;
}

.bold-text {
  font-family: "proxima_novaregular";
}

.regular-text {
  font-weight: normal;
}

.uppercase {
  text-transform: uppercase;
}

.grey-wrap {
  background: #f4f8f8;
}

.nomargin {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.nopadding {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.card {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 0;
}

.noscroll {
  overflow: hidden;
}

.only-mobile-view {
  display: none;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .only-mobile-view {
    display: block;
  }
}

.only-desktop-view {
  display: block;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .only-desktop-view {
    display: none;
  }
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-wrap {
  padding-top: 78px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
  min-height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-wrap {
    padding-top: 162px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }
}

.content-wrap {
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  /*   @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  } */
}

.main-title-wrap {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-title-wrap h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
}

.column-reverse {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.row-reverse {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .row-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.main-search-wrap {
  background: #f4f8f8;
  padding-top: 40px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;
  margin-top: -40px;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap {
    background: none;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.main-search-wrap h2 {
  color: #018c8d;
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap h2 {
    display: none;
  }
}

.main-search-wrap .input-wrap {
  border: 2px solid #018c8d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background: #fff;
  width: 405px;
  margin: 0 auto;
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap .input-wrap {
    border: 2px solid #dedede;
    position: inherit;
    left: inherit;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

.main-search-wrap .input-wrap i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.main-search-wrap .input-wrap i::before {
  color: #018c8d;
  font-size: 16px;
  font-size: 1rem;
}

.main-search-wrap .input-wrap .form-control {
  background: none;
  height: 40px;
  font-size: 16px;
  font-size: 1rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border: 0;
  /* Landscape phones and down */
}

.main-search-wrap .input-wrap .form-control.placeholder {
  color: #151331;
}

.main-search-wrap .input-wrap .form-control:-moz-placeholder {
  color: #151331;
}

.main-search-wrap .input-wrap .form-control::-moz-placeholder {
  color: #151331;
}

.main-search-wrap .input-wrap .form-control:-ms-input-placeholder {
  color: #151331;
}

.main-search-wrap .input-wrap .form-control::-webkit-input-placeholder {
  color: #151331;
}

@media (max-width: 767px) {
  .main-search-wrap .input-wrap .form-control {
    height: 45px;
  }
}

.main-search-wrap .input-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0 !important;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.filter-content h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
}

.filter-content h4 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.filter-content p {
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
}

.filter-content .meal-categ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* justify-content: center; */
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.filter-content .meal-categ__item {
  width: 40px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0;
}

.filter-content .meal-categ__item:last-child {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.filter-content .meal-categ__link {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #eae4e4;
  width: 40px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-content .meal-categ__link:hover {
  background: #eae4e4;
}

.search-input-wrap {
  border: 2px solid #018c8d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-right: 10px;
  padding-bottom: 0;
  padding-left: 10px;
  background: #fff;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .search-input-wrap {
    border: 2px solid #dedede;
    position: inherit;
    left: inherit;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 100%;
  }
}

.search-input-wrap i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.search-input-wrap i::before {
  color: #018c8d;
  font-size: 16px;
  font-size: 1rem;
}

.search-input-wrap .form-control {
  font-size: 16px;
  font-size: 1rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: none;
  height: 40px;
  border: 0;
  /* Landscape phones and down */
}

.search-input-wrap .form-control.placeholder {
  color: #151331;
}

.search-input-wrap .form-control:-moz-placeholder {
  color: #151331;
}

.search-input-wrap .form-control::-moz-placeholder {
  color: #151331;
}

.search-input-wrap .form-control:-ms-input-placeholder {
  color: #151331;
}

.search-input-wrap .form-control::-webkit-input-placeholder {
  color: #151331;
}

@media (max-width: 767px) {
  .search-input-wrap .form-control {
    height: 45px;
  }
}

.search-input-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-suggestions {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.search-suggestions h3 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.search-suggestions ul {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.search-suggestions ul li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.search-suggestions ul li a {
  font-size: 16px;
  font-size: 1rem;
}

.search-suggestions ul li a span {
  color: #018C8D;
}

.datepicker {
  border: 0;
  z-index: 9999 !important;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .datepicker {
    border: 1px solid #dedede !important;
  }
}

.datepicker td,
.datepicker th {
  width: 35px;
  height: 35px;
}

.datepicker td:hover {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.datepicker td.active {
  background: #018C8D !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.datepicker-wrap {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .datepicker-wrap {
    margin-bottom: 40px;
    margin-top: -30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.datepicker-wrap .datepicker-container .datepicker-panel > ul > li {
  font-size: 16px;
  font-size: 1rem;
}

.datepicker-wrap [data-view*="week"] {
  /* Landscape phones and down */
}

.datepicker-wrap [data-view*="week"] li {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold !important;
}

@media (max-width: 767px) {
  .datepicker-wrap [data-view*="week"] {
    display: none;
  }
}

.datepicker-wrap ul[data-view*="days"] {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .datepicker-wrap ul[data-view*="days"] {
    display: none;
  }
}

.datepicker-wrap [data-view*="month"] {
  font-size: 24px !important;
  font-weight: bold !important;
}

.datepicker-wrap li.highlighted {
  background: #f9e200 !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #fff !important;
}

.datepicker-wrap li.picked {
  background: #018C8D !important;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #fff !important;
}

.datepicker-wrap li:hover {
  background: #dedede;
  /*  @include border-radius(50%); */
}
/*# sourceMappingURL=style-en.css.map */