footer {
  height: 100px;
  border-top: 1px solid $light-grey-color;
  @include padding(30px, 0, 30px, 0);
  margin-top: -100px;
  .footer-links {
    @include flex-center;
    @include margin(0, 0, 10px, 0);
    li {
      @include font-size(14px);
      a {
        color: $brand-color;
        @include font-size(14px);
        @include padding(0, 10px, 0, 10px);
        display: block;
        &:hover {
          color: $dark-grey-color;
        }
      }
    }
  }
}
