header {
  nav {
    &.navbar {
      width: 100%;
      background: $white-color;
      border-bottom: 1px solid $light-grey-color;
      @include padding(25px, 0, 25px, 0);
      @include transition;

      @include breakpoint(sm) {
        @include padding(20px, 0, 0, 0);
        background: #f4f8f8;
      }
      @include breakpoint(md) {
        @include padding(20px, 0, 20px, 0);
      }
    }
    .header-inner {
      display: flex;
      width: 100%;
      @include breakpoint(sm) {
        flex-direction: column;
      }

      .hdr-left {
        @include flex-center;
        @include breakpoint(sm) {
          justify-content: space-between;
          @include margin(0, 0, 20px, 0);
        }

        .user-icon {
          border-right: 1px solid $light-grey-color;
          @include padding(0, 10px, 0, 0);
          @include margin(0, 10px, 0, 0);

          @include breakpoint(sm) {
            border: 0;
            @include padding(0, 0, 0, 0);
            @include margin(0, 0, 0, 0);
          }
          img {
            width: 27px;
            height: 27px;
          }
        }

        .logo {
          background: url("../images/logo.svg") no-repeat;
          width: 198px;
          height: 25px;
          display: inline-flex;
          background-size: 198px 25px;
          @include padding(0, 0, 0, 0);
          @include transition;
          @include margin(0, 0, 0, 0);
        }
        .cart-icon {
          display: none;
          img {
            width: 21px;
            height: 23px;
          }
          @include breakpoint(sm) {
            display: block;
          }
        }
      }
    }

    .navbar-nav {
      @include flex-center-vert;
      margin-left: auto;
      @include breakpoint(sm) {
        flex-direction: row;
        margin: auto;
      }
      @include breakpoint(md) {
        flex-direction: column;
      }
      li:last-child {
        @include breakpoint(sm) {
          display: none;
        }
      }
      .nav-link {
        text-transform: uppercase;
        color: $black-color !important;
        padding: 0 15px !important;
        position: relative;
        flex-direction: column;
        font-weight: bold;
        @include transition;
        @include flex-center;
        @include margin(0, 10px, 0, 10px);
        @include font-size(16px);
        white-space: nowrap;

        @include breakpoint(sm) {
          @include margin(0, 0, 0, 0);
          padding: 15px 20px !important;
        }

        &::before {
          position: absolute;
          left: 0;
          bottom: -26px;
          width: 0;
          height: 3px;
          background: #34b78e;
          @include transition;
          content: "";
          @include breakpoint(sm) {
            bottom: 0;
          }
        }
        img {
          @include margin(0, 0, 10px, 0);
          display: none;
          @include breakpoint(sm) {
            display: block;
          }
        }
        &:hover {
          &::before {
            width: 100%;
          }
        }
        &.active {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}
