.red-alert {
    @include padding(20px, 20px, 20px, 20px); 
    @include margin(0, 0, 0, 0);
    background: #FFF0EE;
    p{
        color: #F0306E;
        @include font-size(20px);
        a{
            font-weight: bold;
            color: #F0306E;
        }
    }
}

.saving-alert {
    background: #fffef4;
    @include padding(16px, 16px, 16px, 16px);
    @include margin(0, 0, 20px, 0);
    display: flex;

    .icon {
        display: block;
        background: #ffdf00;
        border: 1px dashed #707070;
        width: 34px;
        height: 34px;
        @include flex-center;
        @include margin(0, 30px, 0, 0);
        @include border-radius(50%);
        img {
            width: 40%;
        }
        @include breakpoint(sm) {
            width: 56px;
            height: 56px;
        }
    }
    figcaption {
        flex: 1;
        h3 {
            font-weight: bold;
            @include font-size(14px);
            @include margin(0, 0, 5px, 0);
            @include breakpoint(sm) {
                @include font-size(18px);
            }
        }
        p {
            @include font-size(14px);
            @include breakpoint(sm) {
                @include font-size(16px);
                font-weight: bold;
            }
        }
    }
}

.yellow-badge {
    background: #ffdf00;
    @include border-radius(6px);
    @include padding(5px, 25px, 5px, 25px);
    @include font-size(14px);
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-weight: bold;
}
