.button-sm {
  padding: 5px 15px !important;
  font-size: 12px !important;
  font-weight: bold;
}
.button-md {
  padding: 8px 15px !important;
}
.button-lg {
  padding: 15px 15px;
  font-weight: bold;
}

/* Button outline */
.button-outline {
  padding: 8px 50px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: $white-color;
  position: relative;
  @include transition();
  @include border-radius(10px);
  @include font-size(18px);

  &:hover {
    @include button-hover();
  }
  &:after {
    z-index: -1;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    @include pseudo;
    @include transition();
    @include border-radius(7px);
  }
  &:hover {
    color: #fff;
    &:after {
      height: 100%;
    }
  }
}
.button-outline-primary {
  border: 2px solid #34B78E;
  color: $brand-color;
  &:after {
    background: #34B78E;
  }
}
.button-outline-grey {
  border: 2px solid #d5dee3;
  color: $brand-color;
  &:after {
    background: #d5dee3;
  }
  &:hover {
    color: $brand-color;
  }
}
.button-outline-dark {
  border: 2px solid $dark-grey-color;
  color: $dark-grey-color;
  &:after {
    background: $dark-grey-color;
  }
}

/* Button fill */
.button-fill {
  padding: 8px 50px;
  cursor: pointer;
  border: 0;
  display: inline-block;
  text-align: center;
  color: $white-color;
  position: relative;
  @include transition();
  @include border-radius(10px);
  @include font-size(18px);

  &:hover {
    @include button-hover();
  }
  &:after {
    z-index: -1;
    height: 0;
    left: 0;
    top: 0;
    width: 100%;
    @include pseudo;
    @include transition();
    @include border-radius(7px);
  }
  &:hover {
    color: $brand-color;
    &:after {
      height: 100%;
    }
  }
}
.button-fill-primary {
  background: #edfff9;
  border: 2px solid #edfff9;
  color: $brand-color;
  &:after {
    background: $white-color;
  }
  &:hover {
    color: $brand-color;
  }
}
.button-fill-dark {
  background: $brand-color;
  border: 2px solid $brand-color;
  &:after {
    background: $white-color;
  }
}
.button-fill-grey {
  background: #d5dee3;
  border: 2px solid #d5dee3;
  &:after {
    background: $white-color;
  }
}
.bouncein:hover:before,
.bouncein:hover:after {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66) !important;
}
