.custom-card {
  @include margin(0, 0, 30px, 0);
  @include padding(10px, 10px, 10px, 10px);
  background: $white-color;
  @include transition;
  display: flex;
  flex-direction: column;

  @include breakpoint(sm) {
    flex-direction: row;
    border-bottom: 1px solid $light-grey-color;
    @include padding(10px, 10px, 20px, 10px);
    @include margin(0, 0, 10px, 0);
  }
  &__figure-holder {
    height: 168px;
    width: 100%;
    @include margin(0, 0, 15px, 0);
    position: relative;
    @include breakpoint(sm) {
      @include margin(0, 20px, 0, 0);
      height: 118px;
      width: 100px;
    }
    img {
      @include object-fit;
    }
  }
  &--h-250 {
    height: 250px;
    @include breakpoint(sm) {
      height: 118px;
    }
  }
  &__caption {
    flex: 1;
  }
  &__title {
    @include margin(0, 0, 10px, 0);
    @include font-size(16px);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include breakpoint(sm) {
      @include font-size(20px);
      -webkit-line-clamp: 2;
    }
  }
  &__ {
    color: $brand-color;
    @include margin(0, 0, 10px, 0);
    display: inline-block;
    font-weight: bold;
  }
  &__desc {
    @include font-size(12px);
  }
  &:hover {
    @include card-hover-shadow;
    @include transform(translateY(-5px));
  }
}
