.input-wrap {
  label {
    @include font-size(14px);
    @include margin(0, 0, 5px, 0);
    font-weight: bold;
  }
  .form-control {
    color: #868d96;
    height: 38px;
    color: $dark-grey-color;
    background: $white-color;
    border: 2px solid #f4f4f4;
    @include border-radius(8px);
    @include font-size(16px);
    @include transition;
    @include breakpoint(sm) {
      height: 54px;
    }

    @include input-placeholder {
      color: $light-grey-color;
    }
    &:focus {
      border: 2px solid $brand-color;
      @include input-hover();
    }
  }

  .form-textarea {
    height: 86px !important;
    resize: none;
  }
  
}
