.custom-modal {
  .modal-dialog {
    width: 428px;
    @include breakpoint(sm) {
      width: 100%;
      margin: 50px 0 0 0;
    }
  }
  .modal-content {
    background: $white-color;
    border: 0;
    @include border-radius(20px);
    @include breakpoint(sm) {
     min-height: 100vh;
    }
  }
  .modal-header {
    border-bottom: 0;
    display: inline;
    h5 {
      font-weight: bold;
      @include font-size(24px);
      text-align: center;
    }
    .btn-close {
      background: none;
      position: absolute;
      left: 20px;
      opacity: 10;
      top: 25px;
      @include flex-center;
      i {
        &::before {
          color: $dark-grey-color;
          @include font-size(40px);
          @include transition;
        }
      }
      &:focus {
        box-shadow: none;
      }
      &:hover {
        i {
          &::before {
            color: $brand-color;
            @include font-size(30px);
          }
        }
      }
    }
  }
  .modal-body {
    @include padding(20px, 20px, 40px, 20px);
  }
  .modal-footer {
    border-top: 0;
    @include padding(20px, 20px, 40px, 20px);
    @include flex-center;
  }
}
