.nav-tabs {
  border-bottom: 1px solid $light-grey-color;
  @include breakpoint(sm) {
    border: 0;
  }
  @include margin(0, 0, 30px, 0);
  .nav-item {
    @include breakpoint(sm) {
      width: 50%;
    }
  }
  .nav-link {
    @include border-radius(0);
    @include font-size(14px);
    @include padding(0, 30px, 10px, 30px);
    @include margin(0, 0, 0, 0);
    color: $dark-grey-color;
    text-transform: uppercase;
    position: relative;
    border: 0;
    width: 100%;
    font-weight: bold;
    &::before {
      position: absolute;
      content: "";
      background: #34B78E;
      bottom: 0;
      width: 0;
      left: 0;
      height: 2px;
      @include transition;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
    &.active {
      &::before {
        width: 100%;
      }
    }
  }
}