/* custom checkboxes and radio */
.radios,
.checkboxes {
  @include margin(0, 0, 0, 0);
  display: flex;
  align-items: center;
  height: 24px;

  label {
    cursor: pointer;
    line-height: 1rem;
  }
  @mixin vh() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include vh();
    &:focus {
      + label {
        &:before {
        }
      }
    }
    + label {
      position: relative;
      user-select: none;
      font-weight: bold;
      @include padding(0, 0, 0, 35px);
      @include font-size(14px);
      @include margin(0, 0, 0, 0);
      height: 20px;
      @include flex-center-vert;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border: 2px solid $dark-grey-color;
        background: $white-color;
        text-align: center;
        @include transition();
        @include border-radius(50%);
      }
      &:after {
        content: "";
        position: absolute;
        transform: scale(0);
        transition: transform 200ms ease-out;
      }
    }
  }

  /* input[type="checkbox"] {
    + label {
      &:after {
        background-color: transparent;
        content: "";
        display: block;
        position: absolute;
        left: 8px;
        top: 5px;
        width: 5px;
        height: 9px;
        opacity: 0;
        border-bottom: 2px solid $white-color;
        border-right: 2px solid $white-color;
        @include transform(rotate(45deg));
        transition: border-color 0.3s ease;
      }
    }
    &:checked {
      + label {
        &:before {
          content: "";
          background: $brand-color;
          border: 1px solid $brand-color;
        }

        &:after {
          content: "";
          opacity: 1;
        }
      }
    }
  } */

  input[type="checkbox"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
          border: 2px solid $brand-color;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &:before,
      &:after {
        @include border-radius(50%);
      }
      &:after {
        left: 6px;
        top: 6px;
        width: 8px;
        height: 8px;
      }
    }
    &:checked {
      + label {
        &:before {
          animation: borderscale 300ms ease-in;
          border: 2px solid $brand-color;
        }
        &:after {
          background: $brand-color;
          @include transform(scale(1));
        }
      }
    }
  }
}
