.switch-container {
  height: 24px;
  @include flex-center-vert;
  .switch {
    appearance: none;
    outline: none;
    border: 0;
    position: relative;
    width: 39px;
    height: 24px;
    overflow: hidden;
    cursor: pointer;
    @include border-radius(50px);
    background: $white-color;
    border: 1px solid #dddddd;
    &:after {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      top: 2px;
      left: 2px;
      background: $light-grey-color;
      @include transition();
      @include border-radius(50px);
    }
    &:checked {
      background: #34B78E;
    }
    &:disabled {
      opacity: 0.5;
    }

    &:checked:after {
      transform: translateX(16px);
      background: #fff;
    }
  }
  label {
    @include margin(0, 0, 0, 10px);
    @include font-size(14px);
  }
}
