@import "switch", "buttons", "input", "card", "nav-tabs", "modal", "radio-checkboxes", "alert";

.icon-wrap {
  @include transition();
  @include border-radius(50px);
  @include flex-center;
  width: 40px;
  height: 40px;
  &:hover {
    @include button-hover();
    background: $light-blue-color;
    i {
     
      &::before {
        color: $brand-color;
      }
    }
  }
}

.grey-border-icon-wrap {
  width: 40px;
  height: 45px;
  border: 2px solid #eae4e4;
  @include flex-center;
  @include border-radius(8px);
 
  i {
    display: flex;
    &::before {
      color: #a8a8a8;
      @include font-size(26px);
    }
  }
  /* &:hover {
    background: $dark-grey-color;
    border: 2px solid $dark-grey-color;
    i {
      &::before {
        color: $white-color;
      }
    }
  } */
}
