
@font-face {
  font-family: 'proxima_novaregular';
  src: url('../fonts/proxima_nova_font-webfont.woff2') format('woff2'),
       url('../fonts/proxima_nova_font-webfont.woff') format('woff'),
       url('../fonts/proxima_nova_font-webfont.ttf') format('truetype'),
       url('../fonts/proxima_nova_font-webfont.svg#proxima_novaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}





