.account-wrap {
    .title-head {
        @include margin(0, 0, 50px, 0);
        h2 {
            font-weight: bold;
            @include font-size(24px);
            @include margin(0, 0, 5px, 0);
        }
        p {
            @include font-size(16px);
        }
    }
}
.mobile-nav {
    display: flex;
    flex-direction: column;
    &__link {
        border-bottom: 1px solid $light-grey-color;
        font-weight: bold;
        color: $dark-grey-color;
        position: relative;
        display: block;
        width: 100%;
        @include transition;
        @include padding(15px, 0, 15px, 0);
        @include font-size(20px);

        &::before {
            position: absolute;
            content: "\f285";
            right: 10px;
            top: 5px;
            font-family: "bootstrap-icons";
            top: 50%;
            @include transform(translateY(-50%));
            @include transition;
            @include font-size(18px);
        }

        &:hover {
            background: $light-blue-color;
            color: $brand-color;
            @include padding(15px, 0, 15px, 10px);
            &::before {
                right: 0;
            }
        }
    }
}

.mobile-user-wrap {
    @include padding(30px !important, 0, 30px !important, 0);

    &__content {
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
    }

    header {
        .title-wrap {
            @include margin(0, 0, 30px, 0);
            @include flex-center;
            position: relative;
            .back-btn {
                display: block;
                color: $dark-grey-color;
                display: flex;
                position: absolute;
                left: 15px;
                top: 0;
                i {
                    display: flex;
                    &::before {
                        @include font-size(30px);
                    }
                }
            }
            h1 {
                text-align: center;
                @include font-size(25px);
                font-weight: bold;
                margin: auto;
            }
        }
        .logo {
            background: url("../images/logo.svg") no-repeat;
            width: 198px;
            height: 25px;
            display: block;
            background-size: 198px 25px;
            @include padding(0, 0, 0, 0);
            @include transition;
            margin: 0 auto 30px;
        }
    }
    .description {
        @include font-size(22px);
    }
    .button-outline {
        margin-top: auto;
    }
}

.action-bar {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    @include padding(20px, 0, 0, 0);
    border-top: 1px solid #dee2e6;
}
.action-bar > * {
    margin: 0.25rem;
}

.stores-list {
    @include margin(0, 0, 30px, 0);
    .item {
        border-bottom: 1px solid $light-grey-color;
        background: $white-color;
        color: $dark-grey-color;
        @include padding(10px, 10px, 10px, 10px);
        @include margin(0, 0, 0, 0);
        @include flex-center-vert;
        @include transition;
        &__figure-holder {
            width: 70px;
            height: 32px;
            @include margin(0, 20px, 0, 0);
            @include breakpoint(sm) {
                display: none;
            }

            img {
                @include object-fit;
                object-fit: contain;
            }
        }
        &__caption {
            flex: 1;
            padding-right: 30px;
            width: 75%;
            .store-name {
                font-weight: bold;
                @include font-size(14px);

                @include breakpoint(sm) {
                    @include font-size(22px);
                }
            }
            .store-address {
                @include font-size(14px);

                @include breakpoint(sm) {
                    @include font-size(18px);
                   @include text-ellipsis;
                }
            }
        }
        &:hover {
            @include card-hover-shadow;
            @include transform(translateY(-5px));
        }
    }
}

