.author-detail-wrap {
  @include breakpoint(sm) {
    @include margin(-40px, 0, 0, 0);
  }
  .figure-holder {
    height: 400px;
    width: 100%;
    position: relative;
    @include margin(0, 0, 20px, 0);

    img {
      @include object-fit;
    }
  }
  .caption-dtl {
    @include margin(0, 0, 20px, 0);
    @include breakpoint(sm) {
      background: $light-blue-color;
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, -20px, 10px, -20px);
    }
    .user-thumb {
      width: 107px;
      height: 107px;
      @include margin(0, 0, 20px, 0);

      @include breakpoint(sm) {
        display: none;
      }

      img {
        @include object-fit;
      }
    }
    &__link-a {
      color: $brand-color;
      @include margin(0, 0, 10px, 0);
      display: inline-block;
      font-weight: bold;
      @include font-size(21px);

      @include breakpoint(sm) {
        @include font-size(17px);
      }
    }
    &__name {
      @include font-size(24px);
      @include margin(0, 0, 20px, 0);
      @include breakpoint(sm) {
        @include font-size(28px);
      }
    }
    &__desc {
      @include font-size(18px);
      @include margin(0, 0, 20px, 0);

      @include breakpoint(sm) {
        @include font-size(22px);
      }
    }
    &__bio {
      @include font-size(18px);
      @include margin(0, 0, 20px, 0);

      @include breakpoint(sm) {
        display: none;
      }
    }
    .social-icon {
      display: flex;
      flex-wrap: wrap;
      &__item {
        @include margin(0, 10px, 0, 0);
      }
      &__link {
        width: 40px;
        height: 45px;
        border: 2px solid #eae4e4;
        background: $white-color;
        @include flex-center;
        @include border-radius(8px);
        i{
          display: flex;
          &::before{
            color: $brand-color;
            @include font-size(18px);
          }
        }
        &:hover{
          background: $dark-grey-color;
          border: 2px solid  $dark-grey-color;
          i{
            &::before{
              color: $white-color;
            }
          }
        }
      }
    }
  }
}
