.coupon-card {
  border: 1px dashed $dark-grey-color;
  display: flex;
  position: relative;
  @include border-radius(5px);
  @include padding(20px, 10px, 20px, 10px);
  @include transition;
  @include margin(0, 0, 10px, 0);
  .figure-holder {
    @include margin(0, 15px, 0, 0);
    width: 80px;
    height: 80px;
    img {
      @include object-fit;
      object-fit: contain;
    }
  }
  .caption-dtl {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h5 {
      @include font-size(12px);
      @include margin(0, 0, 5px, 0);
      font-weight: bold;
      text-transform: uppercase;
    }
    h2 {
      @include font-size(20px);
      @include margin(0, 0, 5px, 0);
      font-weight: bold;
    }
    .discunt-text {
      small {
        @include font-size(12px);
      }
      span {
        @include font-size(16px);
        font-weight: bold;
      }
      .old {
        text-decoration: line-through;
      }
    }
    .expire-text {
      @include font-size(12px);
      @include margin(0, 0, 20px, 0);
      display: inline-block;
    }
    .text {
      text-transform: uppercase;
    }
  }
  .arrow-button {
    position: absolute;
    right: 10px;
    top: 15px;
    @include transition;
    i {
      &::before {
        color: $dark-grey-color;
        @include font-size(20px);
      }
    }
  }
  &:hover {
    background: $light-blue-color;
    .arrow-button {
      right: 5px;
    }
  }
}

.coupons-row {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  @include margin(0, 0, 40px, 0);

  @include breakpoint(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  .item {
    border: 1px dashed $light-grey-color;
    @include border-radius(5px);
    @include padding(10px, 10px, 10px, 10px);
    @include transition;
    @include margin(0, 0, 10px, 0);
    &__figure-holder {
      @include margin(0, 0, 20px, 0);
      height: 150px;
      @include padding(10px, 10px, 10px, 10px);
      img {
        @include object-fit;
        object-fit: contain;
      }
    }
    &__price-row {
      display: flex;
      justify-content: space-between;
      @include margin(0, 0, 20px, 0);
    }
    &__price-text {
      width: 55%;
      @include breakpoint(sm) {
        width: 100%;
        text-align: center;
      }
      span {
        font-weight: bold;
        display: block;
        @include font-size(16px);
        small {
          @include font-size(12px);
        }
      }
    }
    &__store-thumb {
      width: 40%;

      @include breakpoint(sm) {
        width: 100%;
        height: 50px;
      }
      img {
        @include object-fit;
        object-fit: contain;

        @include breakpoint(sm) {
          width: 60%;
          display: flex;
          margin: auto;
        }
      }
    }
    .validity-text {
      @include font-size(12px);
      @include margin(10px, 0, 0, 0);
      text-align: center;
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }
}

.coupon-detail-content {
  @include padding(20px, 20px, 20px, 20px);
  @include border-radius(20px);
  border: 2px dashed $light-grey-color;
  &__figure-holder {
    @include margin(0, 0, 20px, 0);
    @include padding(20px, 20px, 20px, 20px);
    img {
      @include object-fit;
    }
  }
  &__caption-dtl {
    h3 {
      @include font-size(18px);
    }
    h2 {
      @include font-size(22px);
      font-weight: bold;
      @include margin(0, 0, 10px, 0);
    }
    .price-text {
      display: flex;
      @include margin(0, 0, 20px, 0);
      span {
        font-weight: bold;
        @include font-size(20px);
        @include margin(0, 20px, 0, 0);
        small {
          @include font-size(14px);
        }
      }
    }
  }
}

.coupon-badge {
  @include padding(8px, 25px, 8px, 25px);
  @include font-size(14px);
  @include border-radius(6px);
  @include flex-center;
  white-space: nowrap;
  text-transform: uppercase;
  color: $dark-grey-color;
  font-weight: bold;
  i {
    &::before {
      @include font-size(18px);
    }
  }
}

.coupon-badge-lg {
  @include padding(15px, 25px, 15px, 25px);
  @include font-size(24px);
  @include border-radius(16px);
  i {
    &::before {
      @include font-size(18px);
    }
  }
}

.coupon-save-badge {
  background: #ffdf00;
}
.coupon-saved-badge {
  border: 1px dashed #151331;
  background: #fffbd8;
}
