.list-wrap {
    .add-item-wrap {
        h3 {
            @include font-size(15px);
            @include margin(0, 0, 15px, 0);
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .list-title-head {
        @include margin(0, 0, 30px, 0);
        display: none;
        @include breakpoint(sm) {
            @include flex-center-vert;
            justify-content: space-between;
        }
        h2 {
            font-weight: bold;
            @include font-size(24px);
        }
        .add-button {
            @include padding(10px, 5px, 10px, 5px);
            i {
                display: flex;
                &::before {
                    @include font-size(30px);
                }
            }
        }
    }

    .list-group {
        @include margin(0, 0, 20px, 0);
        .item {
            border-bottom: 1px solid $light-grey-color;
            background: $white-color;
            color: $dark-grey-color;
            position: relative;
            @include padding(10px, 10px, 10px, 10px);
            @include margin(0, 0, 0, 0);
            @include flex-center-vert;
            @include transition;

            &__check-icon {
                @include margin(0, 10px, 0, 0);
                border: 1px solid $light-grey-color;
                width: 40px;
                height: 45px;
                @include border-radius(6px);
                @include flex-center;

                i {
                    display: flex;
                    &::before {
                        color: $light-grey-color;
                        @include font-size(24px);
                    }
                }
            }
            &__caption {
                flex: 1;
                h4 {
                    font-weight: bold;
                    @include font-size(16px);
                    @include breakpoint(sm) {
                        @include font-size(20px);
                    }
                }
                h5 {
                    @include font-size(16px);
                    @include breakpoint(sm) {
                        @include font-size(18px);
                    }
                }
            }
            .coupon-icon {
                display: block;
                background: #fffbd8 0% 0% no-repeat padding-box;
                border: 1px dashed #a8a8a8;
                position: absolute;
                right: 10px;
                color: $dark-grey-color;
                @include flex-center;
                @include padding(15px, 10px, 15px, 10px);
                @include border-radius(5px);
                img {
                    width: 13px;
                }
                @include breakpoint(sm) {
                    right: 0;
                }
            }
            &:hover {
                @include card-hover-shadow;
                @include transform(translateY(-5px));
            }
            &.selected {
                .item__check-icon {
                    border: 1px solid $light-grey-color;
                    background: $dark-grey-color;
                }
            }
        }
    }
}
