.login-wrap {
    background: $light-blue-color;
    height: 100vh;
    @include padding(50px, 0, 0, 0);

    @include breakpoint(sm) {
        @include padding(0, 40px, 0, 40px);
        @include flex-center-vert;
    }
    &__content {
        @include flex-center-horiz;
        flex-direction: column;
        height: 100%;

        .login-logo {
            background: url("../images/logo.svg") no-repeat;
            width: 198px;
            height: 25px;
            display: block;
            background-size: 198px 25px;
            @include margin(0, auto, 50px, auto);
        }
        h2 {
            font-weight: bold;
            text-align: center;
            @include font-size(32px);
            @include margin(0, 0, 40px, 0);
        }
    }
}
