.meal-plan-wrap {
  .list-title-head {
    display: flex;
    justify-content: flex-end;
    @include margin(0, 0, 40px, 0);
    position: relative;
    .add-button {
      @include padding(10px, 5px, 10px, 5px);
      @include breakpoint(sm) {
        position: absolute;
        top: 0;
      }
      i {
        display: flex;
        &::before {
          @include font-size(30px);
        }
      }
    }
  }
  .plan-list {
    border-top: 1px solid $light-grey-color;
    .item {
      border-bottom: 1px solid $light-grey-color;
      @include padding(10px, 0, 10px, 0);
      display: flex;
      &__date {
        font-weight: bold;
        height: 76px;
        color: #9b9a9a;
        flex-direction: column;
        width: 50px;
        @include flex-center;
        @include font-size(18px);
        @include margin(0, 10px, 0, 0);
      }
      &__caption {
        background: #f4f4f471;
        @include border-radius(10px);
        flex: 1;
        display: flex;
        justify-content: space-between;
        @include flex-center-vert;
        @include padding(10px, 15px, 10px, 15px);
        .left {
          @include flex-center-horiz;
          flex-direction: column;
          .plan-name {
            font-weight: bold;
            font-style: italic;
            @include padding(0, 0, 5px, 0);
            @include font-size(18px);
            &:hover {
              color: $brand-color;
            }
          }
          .plan-desc {
            @include font-size(14px);
          }
        }
        .right {
          display: flex;
          .attach-btn {
            width: 40px;
            height: 49px;
            background: $dark-grey-color;
            @include flex-center;
            @include border-radius(8px);
            @include margin(0, 5px, 0, 0);
            i {
              display: flex;
              &::before {
                color: $white-color;
                @include font-size(24px);
              }
            }
          }
          .selected-meal-type {
            width: 40px;
            height: 49px;
            background: #fdecea;
            border: 2px solid #eae4e4;
            @include flex-center;
            @include border-radius(8px);
            @include margin(0, 5px, 0, 0);
            img {
              display: flex;
            }
          }
          .plus-btn {
            &:hover {
              background: $dark-grey-color;
              border: 2px solid $dark-grey-color;
              i {
                &::before {
                  color: $white-color;
                }
              }
            }
          }
        }
      }
    }
  }
}

.meal-detail-content {
  .datepicker-row {
    @include flex-center-vert;
    @include margin(0, 0, 20px, 0);
    .calendar-icon {
      @include margin(0, 10px, 0, 0);
      i {
        &::before {
          @include font-size(16px);
        }
      }
    }
    .input-container {
      width: 80%;
    }
    .input-field {
      @include font-size(16px);
      font-weight: bold;
    }
    .refresh-icon {
      i {
        display: flex;
        &::before {
          @include font-size(22px);
        }
      }
    }
  }
  .form-control {
    height: 102px !important;
  }
  h4 {
    @include margin(0, 0, 10px, 0);
    @include font-size(14px);
    font-weight: bold;
  }
  .attached-recipes {
    .selected-recipes {
      @include margin(0, 0, 10px, 0);
      @include flex-center-vert;
      .cross-btn {
        background: $light-blue-color;
        @include flex-center;
        @include border-radius(4px);
        @include margin(0, 10px, 0, 0);
        width: 40px;
        height: 49px;
        i {
          &::before {
            display: flex;
            color: #34b78e;
            @include font-size(30px);
          }
        }
        &:hover {
          background: #34b78e;
          i {
            &::before {
              color: $white-color;
            }
          }
        }
      }

      p {
        @include font-size(16px);
      }
    }
    .select-recipe {
      @include flex-center-vert;
      .grey-border-icon-wrap {
        @include margin(0, 10px, 0, 0);
      }
      p {
        @include font-size(16px);
      }
    }
  }
  .meal-type {
    display: flex;
    flex-wrap: wrap;
    /*  justify-content: center; */

    @include margin(0, 0, 20px, 0);
    &__item {
      width: 40px;
      @include margin(0, 10px, 10px, 0);
      &:last-child {
        @include margin(0, 0, 10px, 0);
      }
    }
    &__link {
      @include border-radius(8px);
      border: 1px solid #eae4e4;
      width: 40px;
      height: 49px;
      @include flex-center;

      &:hover {
        background: #eae4e4;
      }
    }
    &--selected {
      background: #fdecea;
    }
  }
}

.select-recipes-content {
  .item {
    border-bottom: 1px solid $light-grey-color;
    @include padding(10px, 10px, 10px, 10px);
    @include margin(0, 0, 10px, 0);
    @include transition;
    display: flex;
    position: relative;
    &__figure-holder {
      width: 84px;
      height: 84px;
      @include margin(0, 10px, 0, 0);
      img {
        @include object-fit;
      }
    }
    &__caption-dtl {
      flex: 1;
      @include padding(0, 55px, 0, 0);
      .recipe-name {
        @include font-size(16px);
      }
      .author-name {
        @include font-size(14px);
        font-weight: bold;
        color: $brand-color;
      }
    }
    .attach-btn {
      width: 40px;
      height: 45px;
      border: 2px solid #eae4e4;
      @include flex-center;
      @include border-radius(8px);
      position: absolute;
      right: 10px;
      top: 10px;
      i {
        display: flex;
        &::before {
          color: #a8a8a8;
          @include font-size(26px);
        }
      }
      &:hover {
        background: $dark-grey-color;
        border: 2px solid $dark-grey-color;
        i {
          &::before {
            color: $white-color;
          }
        }
      }
    }

    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
  }
}

.input-container input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: 0.75rem;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
