.recipes-row {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(5, 1fr);

  @include breakpoint(sm) {
    grid-template-columns: auto;
  }
}

.recipe-detail-wrap {
  @include breakpoint(sm) {
    @include margin(-40px, 0, 0, 0);
  }
  .right-content {
    @include padding(0, 0, 0, 40px);
    @include breakpoint(sm) {
      @include padding(0, 0, 0, 0);
    }
  }
  .figure-holder {
    height: 400px;
    width: 100%;
    @include margin(0, 0, 25px, 0);
    position: relative;

    @include breakpoint(sm) {
      @include margin(0, -15px, 15px, -15px);
      width: calc(100% + 30px);
    }
    img {
      @include object-fit;
    }
  }
  .button-wrap {
    @include breakpoint(sm) {
      display: none;
    }
  }
  .title-head {
    @include margin(0, 0, 20px, 0);
    h3 {
      font-weight: bold;
      @include font-size(15px);
      @include margin(0, 0, 5px, 0);
      text-transform: uppercase;
    }
    p {
      @include font-size(15px);
    }
  }
  .caption-dtl {
    @include margin(0, 0, 20px, 0);
    @include breakpoint(sm) {
      background: $light-blue-color;
      @include padding(20px, 20px, 20px, 20px);
      @include margin(0, -20px, 0, -20px);
    }
    &__link-a {
      color: $brand-color;
      @include margin(0, 0, 10px, 0);
      display: inline-block;
      font-weight: bold;
      @include font-size(21px);

      @include breakpoint(sm) {
        @include font-size(17px);
      }
    }
    &__desc {
      @include margin(0, 0, 10px, 0);
      @include font-size(24px);

      @include breakpoint(sm) {
        @include font-size(28px);
      }
    }

    &__link-b {
      @include font-size(17px);
      font-weight: bold;
      color: $dark-grey-color;
    }
  }
  .nav-tabs {
    display: none;
    @include breakpoint(sm) {
      display: flex;
    }
  }
}

.recipe-ingredients {
  @include margin(0, 0, 20px, 0);
  .item-row {
    border-bottom: 1px solid $light-grey-color;
    background: $white-color;
    color: $dark-grey-color;
    position: relative;
    @include padding(10px, 10px, 10px, 10px);
    @include margin(0, 0, 0, 0);
    @include flex-center-vert;
    @include transition;

    &__cart-icon {
      @include margin(0, 10px, 0, 0);
      border: 1px solid $light-grey-color;
      width: 28px;
      height: 32px;
      @include border-radius(6px);
      @include flex-center;
      @include breakpoint(sm) {
        width: 40px;
        height: 45px;
      }
      img {
        width: 55%;
      }
    }
    &__figure-holder {
      @include margin(0, 10px, 0, 0);
      width: 32px;
      height: 32px;
      @include breakpoint(sm) {
        width: 45px;
        height: 45px;
      }
      img {
        @include object-fit;
      }
    }
    &__caption {
      flex: 1;
      h4 {
        font-weight: bold;
        @include font-size(16px);
        @include breakpoint(sm) {
          @include font-size(20px);
        }
      }
      h5 {
        @include font-size(16px);
        @include breakpoint(sm) {
          @include font-size(18px);
        }
      }
    }
    .coupon-icon {
      display: block;
      background: #ffdf00;
      border: 1px dashed #707070;
      width: 34px;
      height: 34px;
      position: absolute;
      right: 20px;
      color: $dark-grey-color;
      @include flex-center;
      @include margin(0, 0, 0, 0);
      @include border-radius(50%);
      img {
        width: 40%;
      }
      @include breakpoint(sm) {
        right: 0;
      }
    }
    &:hover {
      @include card-hover-shadow;
      @include transform(translateY(-5px));
    }
    &.selected {
      .item-row__cart-icon {
        border: 1px solid $light-grey-color;
        background: $dark-grey-color;
      }
    }
  }
}
.recipes-search {
  background: $light-blue-color;
  @include padding(20px, 20px, 20px, 20px);
  @include margin(0, 0, 20px, 0);
  @include breakpoint(sm) {
    background: none;
    @include padding(0, 0, 0, 0);
  }

  .text-wrap {
    @include breakpoint(sm) {
      display: none;
    }
    p {
      @include font-size(16px);
    }
  }
  .input-wrap {
    border: 2px solid #018c8d;
    @include border-radius(10px);
    @include flex-center-vert;
    @include padding(0, 10px, 0, 10px);
    background: $white-color;
    @include breakpoint(sm) {
      border: 2px solid $light-grey-color;
      position: inherit;
      left: inherit;
      transform: translateX(0);
      width: 100%;
    }

    i {
      @include margin(0, 10px, 0, 0);
      &::before {
        color: #018c8d;
        @include font-size(16px);
      }
    }

    .form-control {
      background: none;
      height: 40px;
      @include font-size(16px);
      @include padding(0, 0, 0, 0);
      border: 0;
      @include input-placeholder {
        color: $dark-grey-color;
      }

      @include breakpoint(sm) {
        height: 45px;
      }

      &:focus {
        box-shadow: none;
        border: 0 !important;
        @include transform(translateY(0));
      }
    }
  }
}

.search-recipes-wrap {
  background: $light-blue-color;

  @include breakpoint(sm) {
    .body-content {
      display: flex;
      flex-direction: column;
      @include padding(50px, 0, 0, 0);
      height: 60vh;
    }
    .search-input-wrap {
      border: 2px solid $brand-color;
    }
  }

  h1 {
    font-weight: bold;
    text-align: center;
    @include font-size(32px);
    @include margin(0, 0, 30px, 0);
  }
  .footer-content {
    @include breakpoint(sm) {
      @include flex-center;
      flex-direction: column;
      margin-top: auto;
    }
    h2 {
      font-weight: bold;
      text-align: center;
      @include font-size(24px);
      @include margin(0, 0, 10px, 0);
    }
    p {
      @include font-size(18px);
      a {
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}
